body{
    background-color: darkgray;
    font-size: 24px;
}
header{
    display: flex;
    height: 100px;
    background-color: gold;
    border-radius: 10px;
    width: calc(100% - 26px);
    border: 3px solid black;
    margin: 10px;
}
.image{
    margin-top: 26px;
    height: 48px;
    width: 48px;
}

div{
    hyphens: auto;
}
.table{
    margin-top: 38px;
    margin-left: 10px;
}
a {
    display: inline-block;
    color:#2F73B6;
}
a:after {
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: darkred;
    transition: width 0.4s ease-in-out;
}
a:hover:after,
a:focus:after {
    width: 100%;
}
a:hover{
    color:darkblue;
}

.color_link{
    color: black;
}
.photo{
    display: flex;
    height: 551px;
    width: 600px;
    border: 3px solid black;
    background-color: cornflowerblue;
    margin: 20px;
    border-radius: 10px;
    justify-content: center;
    place-items: center;
    text-align: center;
}
.name{
    height: 100px;
    background-color: goldenrod;
    display: flex;
    margin: 20px;
    border: 3px solid black;
    border-radius: 10px;
    justify-content: center;
    place-items: center;
    text-align: center;
}
.text{
    height: 100%;
    width: 100%;
}
.text_1{
    height: 100%;
    display: flex;
    margin: 30px;
}
.info{
    display: flex;
    height: 416px;
    width: 100%;
    background-color: khaki;
    margin-right: 50px;
    border-radius: 10px;
    border: 3px solid black;
    justify-content: center;
    place-items: center;
    text-align: center;
}
.opinion{
    display: flex;
    height: 416px;
    width: 100%;
    background-color: teal;
    border-radius: 10px;
    border: 3px solid black;
    justify-content: center;
    place-items: center;
    text-align: center;
}
.info_block{
    display: flex;
    border-bottom: 5px solid black;
}



